<nav class="nav">
    <div class="nav-container">
        <a href="{{ '/' | relative_url }}">
            <h2 class="nav-title">Home</h2>
        </a>
        <ul>
            <li><a href="{{ '/about' | relative_url }}">About</a></li>
            <li><a href="{{ '/blog/' | relative_url }}">Blog</a></li>
            <li><a href="{{ '/tutorials' | relative_url }}">Tutorials</a></li>
            <li><a href="{{ '/work' | relative_url }}">Work</a></li>
            <li><a href="{{ '/play/' | relative_url }}">Play</a></li>
        </ul>
    </div>
</nav>
