.name{
    color: black; 
    font-size: 48px;
}

.githubIcon {
    float: left;
    width:25px;
    height:25px;
}
.projectLink {
    line-height: 25px;
}

.link{
    color: #555;
}

.social-media {
    padding: 10px 10px; 
}

.txt-style{
    font-size: 18px;
}

.tutHeader {
    overflow: hidden;
}

.alignHeading {
    /* small hack that works, bootstrap is removing the top margin which mislaigns h1-h6*/
    margin-top: 0.67em !important;
}

.spoiler, .spoiler2{ 
    color: gray; 
    background-color:gray;
  }
  
.spoiler:hover{
color: white;
}

.spoiler2:hover { 
background-color:white; 
}


.sudokuRow {
    padding-bottom: 1px;
}
.sudokuCell { 
    border: solid thin; 
    height: 2.0em; 
    width: 2.0em; 
    text-align: center; 
    padding: 0; 
}

.sudokuCell:nth-child(3n) {
    border-right:solid ;
    border-right-width: 2px;
}

.inline-img{
	max-width: 300px;
	max-height: 300px;
	border-radius: 5px;
	display: inline;
}