.name{
    color: black; 
    font-size: 48px;
}

.githubIcon {
    float: left;
    width:25px;
    height:25px;
}
.projectLink {
    line-height: 25px;
}

.link{
    color: #555;
}

.social-media {
    padding: 10px 10px; 
}

.txt-style{
    font-size: 18px;
}

.tutHeader {
    overflow: hidden;
}

.alignHeading {
    /* small hack that works, bootstrap is removing the top margin which mislaigns h1-h6*/
    margin-top: 0.67em !important;
}