---
layout: default
title: about
---
</br>

<div id="about "class="container">
    <div class="row">
        <div id="picture" class="col-xs-6">
            <!--img src="{{site.url}}/assets/img/me.jpeg"/-->
        </div>
        <div id="description" class="col-xs-6">
            <p>
                Hey, I'm William!
            <p>
                I'm a 4th year Computer Science and Statistics student at the University of Toronto.
                Here's what I've been up to these past few years
                <ul>
                    <li>I competed in the East Central ACM-ICPC, representing UofT, twice.</li>
                    <li>I co-founded <a href="https://csec.club">CSEC</a>, a club intended to enrich the CS experience</li>
                    <li>I have TA'd for courses like <a href="{{site.url}}/csca08f17">CSCA08</a>, <a href="{{site.url}}/csca48w18">CSCA48</a> and am currently a TA for <a href="{{site.url}}/cscc73f18">CSCC73</a>.</li>
                    <li>I interned at <a href="https://rubikloud.com">Rubikloud</a> for summer 2018</li>
                </ul>
            </p>
            <p>
                My hobbies include: <a href="https://pokemonshowdown.com/users/wgma">Pokemon</a>, TV shows, video games, board games(like avalon), and <a href="https://twitter.com/wgma00/status/1025569157033553921">soccer</a>.
            </p>
        </div>
    </div>
</div>