---
layout: default
---

<div id="about" class="container about-page">
    <h1>About</h1>

    <p>
        Hey there! I'm William, a software developer based in Toronto, Canada.
        I studied Computer Science and Statistics at the University of Toronto.
        Besides programming, I'm interested in competitive gaming, board games,
        guitar, TV shows, and staying active with hiking and biking. For the professional side of things, check out my
        <a href="{{ '/work' | relative_url }}">resume</a>.
    </p>

    <p>
        I maintain this website to share things that are meaningful to me: the occasional
        <a href="{{ '/blog/' | relative_url }}">blog post</a>, course
        <a href="{{ '/tutorials' | relative_url }}">tutorials</a> from my TA days,
        and some old projects ported to the browser in the
        <a href="{{ '/arcade/' | relative_url }}">arcade</a>.
    </p>

    <h2>Elsewhere on the web</h2>

    <table class="about-links-table">
        <tbody>
            {% for link in site.social_links %}
            <tr>
                <td class="about-links-site"><i class="fa {{ link.icon }}" aria-hidden="true"></i> {{ link.name }}</td>
                <td class="about-links-url"><a href="{{ link.url }}">{{ link.label }}</a></td>
                <td class="about-links-desc">{{ link.desc }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Contact</h2>

    <p>
        The easiest way to reach me is the <a href="{{ '/contact/' | relative_url }}">contact form</a>.
    </p>
</div>
