---
layout: default
title: about
---
</br>

<div id="about " class="container">
    <div class="row">
        <div id="picture" class="col-xs-6">
            <!--img src="{{site.url}}/assets/img/me.jpeg"/-->
        </div>
        <div id="description" class="col-xs-6">
            <p>
                Hey, I'm William!
            <p>
                I'm a Computer Science and Statistics alumni from the University of Toronto.
                Here's what I've been up to these past few years
            <ul>

                <li>I competed/coached twice in the East Central ACM-ICPC, representing UTSC </li>
                <li>I co-founded <a href="https://csec.club">CSEC</a>, a club intended to enrich the CS
                    experience</li>
                <li>I have TA'd for the following courses: <a href="{{site.url}}/csca08f17">CSCA08</a>, <a
                        href="{{site.url}}/csca48w18">CSCA48</a>, <a href="{{site.url}}/cscb63w19">CSCB63</a>
                    , and <a href="{{site.url}}/cscc73f18">CSCC73</a> </li>

                <li>I interned at <a href="https://rubikloud.com">Rubikloud</a> for summer 2018, and <a
                        href="https://www.rbc.com/">RBC</a> in
                    summer 2019. I am working fulltime at <a href="https://tripadvisor.com">TripAdvisor</a> starting
                    fall 2020.
                </li>
            </ul>
            </p>
            <p>

                My hobbies include: <a href="https://pokemonshowdown.com/users/wgma">Pokemon</a>, TV shows, smash
                bros, <a href="https://na.op.gg/summoner/userName=wgmeister">league</a>, games (like avalon, uno),
                and <a href="https://twitter.com/wgma00/status/1025569157033553921">soccer</a>
            </p>

            You can reach out to me at <a href="mailto:me@wgma.ca">me@wgma.ca</a> (my PGP <a
                href="https://keys.openpgp.org/search?q=59CBA9C8BDCB7D776ACCD24D42269B11EB26C3A1">key</a>).
        </div>
    </div>
</div>