---
layout: default
---
<div>
  <p style="font-weight: 900;font-size: -webkit-xxx-large;text-align: center;">Welcome to CSCA08</p>
  <p class="txt-style"><b>TA name:</b>: William Granados</p>
  <p class="txt-style"><b>Tutorial 08:</b> Tuesday, 10:00 - 11:00, at BV355.</p>
  <p class="txt-style"><b>Practical 04:</b> Tuesday, 12:00 - 13:00, at BV466.</p>
  <p class="txt-style"><b>Email Policy:</b> Before emailing me, consider attending my practical or posting the question on <a href = "https://piazza.com/mail.utoronto.ca/fall2017/csca08">Piazza</a>. My email address is <a href="mailto:william.granadosmatamoros@mail.utoronto.ca?subject=CSCA08">william.granadosmatamoros@mail.utoronto.ca</a>. When emailing me, use your utoronto email and in the subject include "CSCA08".</p>
  <p class="txt-style"><b>Expectations:</b> There may be a <i>quiz</i> held in tutorial, so please be on time. </p> 
</div>

<div id="accordion">
    <!--div class="card">
      <div class="card-header" id="heading3">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse3">
              Week 3: September 19th - Python Memory Model
          </button>
        </h5>
      </div>
  
      <div id="collapse3" class="collapse show" aria-labelledby="heading3" data-parent="#accordion">
        <div class="card-body">
          <ul> Enter stuff here
          </ul>
        </div>
      </div>
    </div-->

    <div class="card">
      <div class="card-header" id="heading12">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapse12" aria-expanded="true" aria-controls="collapse12">
            Week 12: November 28th
          </button>
        </h5>
      </div>
  
      <div id="collapse12" class="collapse show" aria-labelledby="heading12" data-parent="#accordion">
        <div class="card-body">
          Good luck on final exams!
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="heading11">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapse11" aria-expanded="true" aria-controls="collapse11">
            Week 11: November 21st
          </button>
        </h5>
      </div>
  
      <div id="collapse11" class="collapse" aria-labelledby="heading11" data-parent="#accordion">
        <div class="card-body">
          Term test 2 will handed back this week. </br> If you haven't picked up all your quizzes, the next tutorial will be the last time to do so.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="heading3">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapse10" aria-expanded="true" aria-controls="collapse10">
            Week 10: November 14th - Object Oriented Design
          </button>
        </h5>
      </div>
  
      <div id="collapse10" class="collapse" aria-labelledby="heading10" data-parent="#accordion">
        <div class="card-body">
          <ul>
              Here's the description of the problem we solved <a href="tut/week10_notes.txt">notes</a> and the final <a href="tut/week10_uml.jpeg">result</a>
              <li class="txt-style">UML diagrams</li>
              <ul>
                  <li> Label inheritence with arrows, you generally want to inherit from classes which share several attributes/behaviours.
                  <li> Use -/+ to destinguish between private and public variables or methods
                  <li> When you list of parameters, you should indicate the types for everything except for the self variable.
              </ul>
          </ul>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="heading9">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapse9" aria-expanded="true" aria-controls="collapse9">
            Week 9: November 7th - Classes
          </button>
        </h5>
      </div>
  
      <div id="collapse9" class="collapse" aria-labelledby="heading9" data-parent="#accordion">
        <div class="card-body">
          <ul>
              Here's the example gone over in class <a href="tut/week9_calendar.txt">calendar</a>
              <li class="txt-style">Classes</li>
              <ul>
                  <li> Classes have their own scope, so you can declare your own variables by doing <code>self.var_name = val</code>
                  <li> The first method in a Class that it executed is the <code>__init__</code> method.
                  <li> When you call something like <code>str(ClassName)</code> the <code>__str__</code> method is called.
                  <li> When you call a sort method on a list containing classes, then the <code>_lt_</code> method is called.
              </ul>
          </ul>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="heading3">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapse8" aria-expanded="true" aria-controls="collapse8">
            Week 8: October 31st - Dictionaries
          </button>
        </h5>
      </div>
  
      <div id="collapse8" class="collapse" aria-labelledby="heading8" data-parent="#accordion">
        <div class="card-body">
          <ul>
              Here's the example gone over in class <a href="tut/week9_calendar.txt">calendar</a>
              <li class="txt-style">Classes</li>
              <ul>
                  <li> Classes have their own scope, so you can declare your own variables by doing <code>self.var_name = val</code>
                  <li> The first method in a Class that it executed is the <code>__init__</code> method.
                  <li> When you call something like <code>str(ClassName)</code> the <code>__str__</code> method is called.
                  <li> When you call a sort method on a list containing classes, then the <code>_lt_</code> method is called.
              </ul>
          </ul>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="heading7">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapse7" aria-expanded="true" aria-controls="collapse7">
            Week 7: October 24th - List Mutability
          </button>
        </h5>
      </div>
  
      <div id="collapse7" class="collapse" aria-labelledby="heading7" data-parent="#accordion">
        <div class="card-body">
            <ul>
                Here's the example gone over in class <a href="tut/week7_mutability_tracing.txt">mutability_tracing</a>. I've also created an extra <a href="tut/week7_example.txt">example</a> which I think should help clear up some content I went over </br>
                If you find some examples confusing remember you can use <a href="http://pythontutor.com/">Python Tutor</a> to walk through the examples slowly
                </br>
                <li class="txt-style">Shallow Copies</li>
                <ul>
                    <li> A shallow copy of a list essentially creates a new id for a list object in memory, but it still holds the same content of the original list
                    <li> You can create a a shallow copy of a list by doing <code>new_list = old_list[:]</code>
                </ul>
            </ul>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="heading6">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapse6" aria-expanded="true" aria-controls="collapse6">
              Week 6: October 17th - Imports & Debuggers
          </button>
        </h5>
      </div>
  
      <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordion">
        <div class="card-body">
            <ul>
                Here's the example gone over in class <a href="tut/week6_import_b.txt">import_b</a>, <a href="tut/week6_import_a.txt">import_a</a>
                </br>
                <li class="txt-style">Importing files</li>
                <ul>
                    <li> You can import files/libraries using: <code>import file_name</code>
                    <li> You can rename imports by doing <code>import file_name as new_name</code>
                    <li> You can import specific variables or functions using "from" in your import: <code>from file_name import func</code>
                </ul>
                <li class="txt-style">Wing IDE Debugger</li>
                <ul>
                    <li> You can setup breakpoints in our code by clicking next to the line in wing
                    <li> Debuggers basically give you a table for the memory model at every point in your code
                    <li> Lots of terminology so checkout this <a href="https://wingware.com/doc/intro/tutorial-debugging">link</a> for my detailed info
                </ul>
            </ul>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="heading4">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapse5" aria-expanded="true" aria-controls="collapse5">
            Week 5: October 3rd - Coding Style
          </button>
        </h5>
      </div>
  
      <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordion">
        <div class="card-body">
            <ul>
                Here's the example gone over in class <a href="tut/week5_selection.txt">Example 1</a>
                </br>
                <li class="txt-style">Coding Style</li>
                <ul>
                    <li> Multiple return statements are bad and are harder to trace</li>
                    <li> Working code does not mean it's good code</li>
                </ul>
            </ul>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="heading4">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapse4">
              Week 4: September 26th - Design Recipe & Testing
          </button>
        </h5>
      </div>
  
      <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordion">
        <div class="card-body">
            <ul>
              Here's the example gone over in class <a href="tut/week4.txt">Example 1</a> and the test file we used <a href="tut/week4.test.txt">Test 1</a>
              <li class="txt-style">Design Recipe</li>
              <ul>
                  <li>Remember to follow the design recipe taught in class. For assignments and tests you will lose marks for not following them.</li>
                  <li>Very briefly, they are the following:
                        <ul>
                        <li><b>Header</b>: good variable names, sensible function names, you should be able to get what's happening at a quick glance</li>
                        <li><b>Type Contract/REQs</b>: what type of variables should be passed and restrictions on these variables</li>
                        <li><b>Description</b>: focus on making it concise and descriptive</li>
                        <li><b>Examples</b>: some simple examples so we can understand what our function does</li>
                        <li><b>Code</b>: designing your algorithm</li>
                        <li><b>Commenting</b>: describing relevant sections of your algorithm which aren't intuitive at first sight</li>
                        <li><b>Test</b>: come up with a testing plan. For example try for each variable, coming up with important ranges/boundaries, then start testing important combinations.</li>
                        </ul>
                  </li>
              </ul>
              <li class="txt-style">Test Files</li>
              <ul>
                  <li>You can use the <a href="http://www.utsc.utoronto.ca/~bharrington/csca08/run_tests.shtml">Test Runner</a> website to run specialized testcases on your exercises and assignments. It will test your functions and fetch results</li>
                  <li>Each line is a testcase and each testcase is seperated by | characters. The format is <code>'function name|comma seperated values|comments|return value'</code></li>
                  <li>General tips when you're deciding on tests is to make a few general cases, then a couple of edge cases
                  <li>Because you're doing design by contract you don't have to do anything special on invalid input, remember anything can happen so the fault is left on the user</li>
                  <li>If you're on <b>windows</b> you can save files with the extension '.test' by setting save type as 'all files' then writing in the file name section something like '.test'</li>
              </ul>
            </ul>
        </div>
      </div>
    </div>

<div class="card">
    <div class="card-header" id="heading3">
      <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse3">
              Week 3: September 19th - Python Memory Model
          </button>
        </h5>
      </div>
  
      <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordion">
        <div class="card-body">
          <ul>
            Here are the examples gone over in class <a href="tut/week3_part1.txt">Example 1</a>, <a href="tut/week3_part2.txt">Example 2</a>, <a href="tut/week3_part3.txt">Example 3</a>.
            </br>
            <li class="txt-style">Memory Model</li>
            <ul>
                <li> <a href="http://pythontutor.com/">Python Tutor</a> is a good resource for visualizing the memory model. Choose "render all objects on the heap", "use text labels for references", and Python 3.6 to look at the version of the memory model we are accustomed with.</li>
            </ul>
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="heading2">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
            Week 2: September 12th - Important Terminology
          </button>
        </h5>
      </div>
      <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordion">
        <div class="card-body">
          <ul>
                Here's a modified version of the <a href="tut/python_version.txt">sample code</a> gone over in class. Feel free to play around with it.
                <li class="txt-style">Difference between Python vs Wing</li>
                <ul>
                    <li>Python is the software you use to give instructions to the computer.</li>
                    <li>Wing, the <a href="https://en.wikipedia.org/wiki/Integrated_development_environment">IDE</a>, is a software suite that helps you develop software.</li>
                </ul>
                <li class="txt-style">Python version</li>
                <ul>
                    <li>You should be using Python 3.5+ when submitting excercises and assignments.</li>
                    <li>Major changes between Python 2.7 and Python 3. Some are listed <a href="http://sebastianraschka.com/Articles/2014_python_2_3_key_diff.html">here</a> but you <b>do not</b> need to worry about them. Just make sure your IDE is configured to use Python 3.5+.</li>
                </ul>
                <li class="txt-style">Difference between writing code in shell and writing code in file</li>
                <ul>
                    <li>You can declare variables in the python shell, do some computations, and echo values to stdout (standard output).</li>
                    <li>You should be writing all your exercises/assignments in python files. The Python shell is used for debugging or quick checks.</li>
                </ul>
            </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="heading1">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
            Week 1: September 5th
          </button>
        </h5>
      </div>
      <div id="collapse1" class="collapse" aria-labelledby="heading1" data-parent="#accordion">
        <div class="card-body">
          There are no tutorials this week. Instead here's a link to a funny comic <a href="http://dilbert.com/strip/2017-01-02">Dilbert Programming Environment</a>.</div>
        </div>
      </div>
    </div>
  </div>