---
layout: default-tut
title: cscc73
---
<div>
  <p style="font-weight: 900;font-size: -webkit-xxx-large;text-align: center;">Welcome to CSCC73</p>
  <p class="txt-style"><b>TA name:</b> William Granados</p>
  <p class="txt-style"><b>Tutorial:</b> TUT002 - Tuesday 4-5pm, BV264</p>
  <p class="txt-style"><b>Email Policy:</b> Before emailing me, consider attending my practical or posting the question on <a href = "https://piazza.com/mail.utoronto.ca/fall2018/cscc73">Piazza</a>. My email address is <a href="mailto:william.granadosmatamoros@mail.utoronto.ca?subject=CSCC73">william.granadosmatamoros@mail.utoronto.ca</a>. When emailing me, use your utoronto email and in the subject include "CSCC73".</p>
  <p class="txt-style"><b>Expectations:</b> Content covered may appear on assignments or exams, so please be on time. </p> 
</div>

<div id="accordion">
    <!--div class="card">
      <div class="card-header" id="heading2">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse3">
              Week 3: September 19th - Python Memory Model
          </button>
        </h5>
      </div>
  
      <div id="collapse2" class="collapse show" aria-labelledby="heading2" data-parent="#accordion">
        <div class="card-body">
          <ul> Enter stuff here
          </ul>
        </div>
      </div>
    </div-->

    <div class="card">
      <div class="card-header" id="heading1">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse3">
              Week 1: September 11th - Greedy Algorithms 
          </button>
        </h5>
      </div>
  
      <div id="collapse1" class="collapse show" aria-labelledby="heading1" data-parent="#accordion">
        <div class="card-body">
          Today we covered the MST problem (KT Pg.142-149), and how it can be solved with Prims and Kruskals, along with the correctness proof for these.
          <li class="txt-style">Prim's Algorithm</li>
          <ul>
            <li><b>Idea:</b> Push edges from an arbitrary on a min heap, iteratively select the smallest weighted edge which is a part of our solution.</li>
            <li><b>Time Complexity:</b> $O(|E| \cdot \log(V))$ with an adjacency list and binomial heap, varies with <a href="https://en.wikipedia.org/wiki/Prim%27s_algorithm">implementation.</a></li>
            <li><b>Fun Fact</b> The graph <i>must</i> be connected, otherwise will only find MST in one of the components.</b></li>
          </ul>
          <li class="txt-style">Kruskal's Algorithm</li>
          <ul>
            <li><b>Idea:</b> Sort edges by least weight, use a <a href="">disjoint set</a> data structure to iteratively select the smallest weighted edge that is a part of our solution.</li>
            <li><b>Time Complexity:</b> $O(|E| \cdot \log(V))$, depending on DS implemention, can assume we use path compression and union by rank.</li>
            <li><b>Fun Fact:</b> If the graph <i>isn't</i> connected, will generate a minimum spanning forest (a collection of trees!).</b></li>
          </ul>
          <li class="txt-style">Correctness</li>
          <ul>
            <li><b>Tree theorem:</b> Need to prove that an MST is a tree</li> 
            <li><b>Cut Theorem:</b> Need to prove that greedily choosing the smallest edge at each iteration of the algorithm, will result in an MST.</li> 
          </ul>
          <li class="txt-style">Challenge Problems</li>
          <ul>
            <li><a href="tut3/gas-station.pdf">Gas-Station Refueling</a></li>
            <li><a href="https://wcipeg.com/problem/acmtryouts3c">A Subtle Surf</a></li>
            <li><a href="https://wcipeg.com/problem/graph3p3">Cable TV</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="heading0">
        <h5 class="mb-0 tutHeader">
          <button 
            class="btn btn-link" 
            data-toggle="collapse" 
            data-target="#collapse0" 
            aria-expanded="true" 
            aria-controls="collapse0"
            title="Week 0: September 4th">
            Week 0: September 4th - No Tutorial
          </button>
        </h5>
      </div>
      <div id="collapse0" class="collapse" aria-labelledby="heading0" data-parent="#accordion">
        <div class="card-body">
            There are no tutorials this week. Instead here's a link to a funny comic <a href="https://xkcd.com/1831/">XKCD - Algorithms</a>.
        </div>
      </div>
    </div>
  </div>
