<!DOCTYPE html>
<html lang="en">
{% include head-default.html %}

<body class="home-body">
    <div>
        <div class="container home-page">
            <section class="home-hero" aria-label="Introduction">
                <div class="home-hero-visual">
                    <img class="home-hero-img"
                        src="{{ '/images/wgma_teemo_aesthetic_one.jpg' | relative_url }}"
                        width="800"
                        height="600"
                        alt=""
                        decoding="async"
                        fetchpriority="high">
                </div>
                <div class="row h-100 justify-content-center align-items-center home-hero-heading">
                    <h1 class="name">{{ site.owner }}</h1>
                    {% if site.tagline %}
                    <p class="home-tagline">{{ site.tagline }}</p>
                    {% endif %}
                </div>
            </section>
            <nav class="home-main-nav" aria-label="Site sections">
                <a href="{{ '/about' | relative_url }}" class="link home-nav-link">About</a>
                <a href="{{ '/blog/' | relative_url }}" class="link home-nav-link">Blog</a>
                <a href="{{ '/tutorials' | relative_url }}" class="link home-nav-link">Tutorials</a>
                <a href="{{ '/work' | relative_url }}" class="link home-nav-link">Work</a>
            </nav>
            <div class="row h-100 justify-content-center align-items-center home-social-row">
                <a class="column social-media link" title={{site.social.email}} href="mailto:{{site.social.email}}"
                    aria-hidden="true">
                    <i class="fa fa-envelope fa-2x"></i>
                </a>
                <a class="column social-media link" title={{site.social.github}}
                    href="https://github.com/{{site.social.github}}">
                    <i class="fa fa-github fa-2x"></i>
                </a>
                <a class="column social-media link" title={{site.social.linkedin}}
                    href="https://www.linkedin.com/in/{{site.social.linkedin}}/">
                    <i class="fa fa-linkedin-square fa-2x"></i>
                </a>
                <a class="column social-media link" title={{site.social.twitter}}
                    href="https://twitter.com/{{site.social.twitter}}/">
                    <i class="fa fa-twitter fa-2x"></i>
                </a>
                <a class="column social-media link" title={{site.social.lastfm}}
                    href="https://lastfm.com/user/{{site.social.lastfm}}/">
                    <i class="fa fa-lastfm fa-2x"></i>
                </a>
                <a class="column social-media link" title={{site.social.yelp}}
                    href="https://{{site.social.yelp}}.yelp.ca">
                    <i class="fa fa-yelp fa-2x"></i>
                </a>
                <a class="column social-media link" title={{site.social.tripadvisor}}
                    href="https://tripadvisor.com/{{site.social.tripadvisor}}">
                    <i class="fa fa-tripadvisor fa-2x"></i>
                </a>
            </div>
        </div>
    </div>
</body>

</html>
