---
layout: default-blog
---

<div class="post">
  <div class="post-info">
    <span>Written by</span>
    {% if page.author %}
      {{ page.author }}
    {% else %}
      {{ site.author.name }}
    {% endif %}
    {% if page.date %}
      <br>
      <span>on&nbsp;</span><time datetime="{{ page.date }}">{{ page.date | date: "%B %d, %Y" }}</time>
    {% endif %}
  </div>

  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-line"></div>

  {% if page.tags.size > 0 %}
  <p class="post-tags">
    {% for tag in page.tags %}
      <a href="{{ '/blog/tags/' | relative_url }}#{{ tag | slugify }}">{{ tag }}</a>{% unless forloop.last %}<span class="post-tags-sep"> · </span>{% endunless %}
    {% endfor %}
  </p>
  {% endif %}

  {{ content }}
</div>

<div class="pagination">
  {% if page.next.url %}
    <a href="{{ page.next.url | relative_url }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if page.previous.url %}
    <a href="{{ page.previous.url | relative_url }}" class="right arrow">&#8594;</a>
  {% endif %}
  <a href="#" class="top">Top</a>
</div>
