---
layout: default
---

<div id="android-projects">
    <h2>Android Development</h2>
    <div id="mobile-waste-wizard">
        <img src="/assets/github.png" alt="" style="float: left;width:25px;height:25px;" />
        <a href="https://github.com/wgma00/mobile-waste-wizard" style="line-height: 25px;">Mobile Waste Wizard</a>
        <h4>Description</h4>
        <p>Mobile application based off of the City of Toronto's waste management website,
           which categorizes objects on how they should be disposed of.
        <h4>What I did</h4>
        <ul>
            <li>Parsed publicly available data, and incorporated it into search functions</li>
            <li>Redesigned the UI by following Google Material Design pattern</li>
            <li>Added linters, and some test automation.</li>
        </ul>
        <p><b>Tags</b>: Java, Google Material Design, Android Framework</p>
    </div>
    <hr/>
    <div id="software-design-project">
        <img src="/assets/github.png" alt="" style="float: left;width:25px;height:25px;" />
        <a href="https://github.com/wgma00/CSCB07Project" style="line-height: 25px;">Software Design Course Project</a>
        <h4>Description</h4>
        <p>We were tasked with designing a flight booking application capabale of searching for cheapest flights for clients.</p>
        <h4>What I did</h4>
        <ul>
            <li>Wrote suite of Junit tests for our application</li>
            <li>Designed the searching algorithm for finding and/or shortest flights</li>
            <li>Designed the user registration page, and admin dashboard</li>
            <li>Held weekly scrum meetings to push for release in 2 month time frame</li>
        </ul>
        <p><b>Tags</b>: Java, Junit, Android Framework</p>
    </div>
    <hr/>
</div>

<div id="web-development-projects">
    <h2>Web Development</h2>
    <div id="LetMeKnow">
        <img src="/assets/github.png" alt="" style="float: left;width:25px;height:25px;" />
        <a href="https://github.com/wgma00/mobile-waste-wizard" style="line-height: 25px;">LetMeKnow</a>
        <h4>Description</h4>
        <p>LetMeKnow was initially a successful project I and a couple of colleagues developed over at 
            <a href="https://devpost.com/software/let-me-know-vwao64">MHacks8</a> (top 10, and contenders for Microsoft Prize). 
            Since October of 2016 myself the other team members have been making incremental changes in our spare time to the software. 
            In November 2017 we entered LMK into the <a href="http://www.utsc.utoronto.ca/projects/thehub/startup-competition/">UTSC Startup Competition</a> 
            and received seed funding and access to great mentors/resources. 
        <h4>What I did</h4>
        <ul>
            <li>Hosted production version of website on DigitalOcean and AWS platforms</li>
            <li>Worked on the performance and bug fixes for the web application</li>
            <li></li>
        </ul>
        <p></p>
        <!--p>I'm the current system adminstrator for the website. 
            Some of the core technologies I have worked with our NGINX, Django, and Angular.  
            Some of the major features I was a core developer of were: the fetching of relevant articles/images/tweets, summarization of articles, 
            and some UI portability changes on the landing page. We're currently undergoing rapid development, so expect to see some cooler stuff soon!
        </p-->
        <p><b>Tags</b>: Django, Angular, Nginx, DigitalOcean</p>
        <hr/>
    </div>
</div>

<div id="open-source-projects">
    <h2>Open Source</h2>
    <div id="quadbot">
        <img src="/assets/github.png" alt="" style="float: left;width:25px;height:25px;" />
        <a href="https://github.com/wgma00/quadbot" style="line-height: 25px;">Quadbot</a>
        <h4>Description</h4>
        <p> Quadbot is a FOSS chat bot available for multiple platforms, like: discord, and pokemonshowdown.com. 
            It was initially created due to a lack of LaTeX support on these platforms. 
        </p>

        <h4>What I did</h4>
        <ul>
            <li>Setup Travis CI for unit/integreation tests written with pytest, and deployed inside a docker container</li>
            <li>Created and maintained several commands to entertain users</li>
            <ul>
                <li><b>Calc:</b> Integreated calculator functionality with the <a href="#">GNOMECalc</a> software</li>
                <li><b>Dilbert:</b>returns url to today's dilbert comic</li>
                <li><b>Latex:</b> Designed system for users to compile LaTeX commands and receive a url with the result</li>
                <li><b>Markov:</b> Generates a sentence based on room chat data using a Markov Chain model</li>
                <li><b>Periodic Parser:</b> Generates a word that can be spelled with the symbols for periodic table elements.</li>
                <li><b>Party Parrot</b>: Generates a random <a href="cultofthepartyparrot.com">party parrot</a></li>
                <li><b>Putnam</b>: Generates a random <a href="#">Putnam</a> problem</li>
                <li><b>Xkcd:</b> returns url to a randomly generated or specified xkcd comic</li>
            </ul>
            <li></li>
        </ul>
            
            also accomplishes the task, but would likely be abused by users to derail conversations, and didn't give power to the users (i.e. me :]). 
            Since then I have added other functionality that I haven't seen on other bots like arbitrary precision arithmetic (that doesn't break), 
            Random Putnam problem generators, <a href="http://cultofthepartyparrot.com/">Party Parrot</a> generator, a neat periodic parser game 
            (try to construct a word using elements from the periodic table), Markov chain generated text, and a whole lot more. 
            I'm actively making changes to this software, and coordinating with the original container for the bot for bug fixes.
        </p>
        <p><b>Tags</b>: Python, Asyncio, Image Hosting, Linux CLI, DigitalOcean</p>
    </div>
    <hr/>

</div>
