---
layout: default
---
<div align="center">
    <br/>
    <h1>Sudoku Solver</h1>
    <div id="row1" class="sudokuRow">
        <input id="1" type="number" min="1" max="9" maxlength="1" class="sudokuCell" /> 
        <input id="2" type="number" min="1" max="9" maxlength="1" class="sudokuCell" /> 
        <input id="3" type="number" min="1" max="9" maxlength="1" class="sudokuCell" /> 
        <input id="4" type="number" min="1" max="9" maxlength="1" class="sudokuCell" /> 
        <input id="5" type="number" min="1" max="9" maxlength="1" class="sudokuCell" /> 
        <input id="6" type="number" min="1" max="9" maxlength="1" class="sudokuCell" /> 
        <input id="7" type="number" min="1" max="9" maxlength="1" class="sudokuCell" /> 
        <input id="8" type="number" min="1" max="9" maxlength="1" class="sudokuCell" /> 
        <input id="9" type="number" min="1" max="9" maxlength="1" class="sudokuCell" /> 
    </div>
    <div id="row2" class="sudokuRow">
        <input id="1" type="number" min="1" max="9" maxlength="1" class="sudokuCell" /> 
        <input id="2" type="number" min="1" max="9" maxlength="1" class="sudokuCell" /> 
        <input id="3" type="number" min="1" max="9" maxlength="1" class="sudokuCell" /> 
        <input id="4" type="number" min="1" max="9" maxlength="1" class="sudokuCell" /> 
        <input id="5" type="number" min="1" max="9" maxlength="1" class="sudokuCell" /> 
        <input id="6" type="number" min="1" max="9" maxlength="1" class="sudokuCell" /> 
        <input id="7" type="number" min="1" max="9" maxlength="1" class="sudokuCell" /> 
        <input id="8" type="number" min="1" max="9" maxlength="1" class="sudokuCell" /> 
        <input id="9" type="number" min="1" max="9" maxlength="1" class="sudokuCell" /> 
    </div>
    <div id="row3" class="sudokuRow">
        <input id="1" type="number" min="1" max="9" maxlength="1" class="sudokuCell" /> 
        <input id="2" type="number" min="1" max="9" maxlength="1" class="sudokuCell" /> 
        <input id="3" type="number" min="1" max="9" maxlength="1" class="sudokuCell" /> 
        <input id="4" type="number" min="1" max="9" maxlength="1" class="sudokuCell" /> 
        <input id="5" type="number" min="1" max="9" maxlength="1" class="sudokuCell" /> 
        <input id="6" type="number" min="1" max="9" maxlength="1" class="sudokuCell" /> 
        <input id="7" type="number" min="1" max="9" maxlength="1" class="sudokuCell" /> 
        <input id="8" type="number" min="1" max="9" maxlength="1" class="sudokuCell" /> 
        <input id="9" type="number" min="1" max="9" maxlength="1" class="sudokuCell" /> 
    </div>

    <div id="row4" class="sudokuRow">
        <input id="1" type="number" min="1" max="9" maxlength="1" class="sudokuCell" /> 
        <input id="2" type="number" min="1" max="9" maxlength="1" class="sudokuCell" /> 
        <input id="3" type="number" min="1" max="9" maxlength="1" class="sudokuCell" /> 
        <input id="4" type="number" min="1" max="9" maxlength="1" class="sudokuCell" /> 
        <input id="5" type="number" min="1" max="9" maxlength="1" class="sudokuCell" /> 
        <input id="6" type="number" min="1" max="9" maxlength="1" class="sudokuCell" /> 
        <input id="7" type="number" min="1" max="9" maxlength="1" class="sudokuCell" /> 
        <input id="8" type="number" min="1" max="9" maxlength="1" class="sudokuCell" /> 
        <input id="9" type="number" min="1" max="9" maxlength="1" class="sudokuCell" /> 
    </div>
    <div id="row5" class="sudokuRow">
        <input id="1" type="number" min="1" max="9" maxlength="1" class="sudokuCell" /> 
        <input id="2" type="number" min="1" max="9" maxlength="1" class="sudokuCell" /> 
        <input id="3" type="number" min="1" max="9" maxlength="1" class="sudokuCell" /> 
        <input id="4" type="number" min="1" max="9" maxlength="1" class="sudokuCell" /> 
        <input id="5" type="number" min="1" max="9" maxlength="1" class="sudokuCell" /> 
        <input id="6" type="number" min="1" max="9" maxlength="1" class="sudokuCell" /> 
        <input id="7" type="number" min="1" max="9" maxlength="1" class="sudokuCell" /> 
        <input id="8" type="number" min="1" max="9" maxlength="1" class="sudokuCell" /> 
        <input id="9" type="number" min="1" max="9" maxlength="1" class="sudokuCell" /> 
    </div>
    <div id="row6" class="sudokuRow">
        <input id="1" type="number" min="1" max="9" maxlength="1" class="sudokuCell" /> 
        <input id="2" type="number" min="1" max="9" maxlength="1" class="sudokuCell" /> 
        <input id="3" type="number" min="1" max="9" maxlength="1" class="sudokuCell" /> 
        <input id="4" type="number" min="1" max="9" maxlength="1" class="sudokuCell" /> 
        <input id="5" type="number" min="1" max="9" maxlength="1" class="sudokuCell" /> 
        <input id="6" type="number" min="1" max="9" maxlength="1" class="sudokuCell" /> 
        <input id="7" type="number" min="1" max="9" maxlength="1" class="sudokuCell" /> 
        <input id="8" type="number" min="1" max="9" maxlength="1" class="sudokuCell" /> 
        <input id="9" type="number" min="1" max="9" maxlength="1" class="sudokuCell" /> 
    </div>

    <div id="row7" class="sudokuRow">
        <input id="1" type="number" min="1" max="9" maxlength="1" class="sudokuCell" /> 
        <input id="2" type="number" min="1" max="9" maxlength="1" class="sudokuCell" /> 
        <input id="3" type="number" min="1" max="9" maxlength="1" class="sudokuCell" /> 
        <input id="4" type="number" min="1" max="9" maxlength="1" class="sudokuCell" /> 
        <input id="5" type="number" min="1" max="9" maxlength="1" class="sudokuCell" /> 
        <input id="6" type="number" min="1" max="9" maxlength="1" class="sudokuCell" /> 
        <input id="7" type="number" min="1" max="9" maxlength="1" class="sudokuCell" /> 
        <input id="8" type="number" min="1" max="9" maxlength="1" class="sudokuCell" /> 
        <input id="9" type="number" min="1" max="9" maxlength="1" class="sudokuCell" /> 
    </div>
    <div id="row8" class="sudokuRow">
        <input id="1" type="number" min="1" max="9" maxlength="1" class="sudokuCell" /> 
        <input id="2" type="number" min="1" max="9" maxlength="1" class="sudokuCell" /> 
        <input id="3" type="number" min="1" max="9" maxlength="1" class="sudokuCell" /> 
        <input id="4" type="number" min="1" max="9" maxlength="1" class="sudokuCell" /> 
        <input id="5" type="number" min="1" max="9" maxlength="1" class="sudokuCell" /> 
        <input id="6" type="number" min="1" max="9" maxlength="1" class="sudokuCell" /> 
        <input id="7" type="number" min="1" max="9" maxlength="1" class="sudokuCell" /> 
        <input id="8" type="number" min="1" max="9" maxlength="1" class="sudokuCell" /> 
        <input id="9" type="number" min="1" max="9" maxlength="1" class="sudokuCell" /> 
    </div>
    <div id="row9" class="sudokuRow">
        <input id="1" type="number" min="1" max="9" maxlength="1" class="sudokuCell" /> 
        <input id="2" type="number" min="1" max="9" maxlength="1" class="sudokuCell" /> 
        <input id="3" type="number" min="1" max="9" maxlength="1" class="sudokuCell" /> 
        <input id="4" type="number" min="1" max="9" maxlength="1" class="sudokuCell" /> 
        <input id="5" type="number" min="1" max="9" maxlength="1" class="sudokuCell" /> 
        <input id="6" type="number" min="1" max="9" maxlength="1" class="sudokuCell" /> 
        <input id="7" type="number" min="1" max="9" maxlength="1" class="sudokuCell" /> 
        <input id="8" type="number" min="1" max="9" maxlength="1" class="sudokuCell" /> 
        <input id="9" type="number" min="1" max="9" maxlength="1" class="sudokuCell" /> 
    </div>

    <script src="{{ base.url | prepend: site.url }}/js/mystery.js"></script>.
    <button onClick={getSolution()}>solve me!</button>
    <button onClick={populate()}>populate with example</button>
    </br>
    <div id="sln">
    </div>
</div>
