---
layout: default
---

<div class="tutorials-page">
<h1>Tutorials</h1>

<a href="{{ '/csca08f17' | relative_url }}">CSCA08 - Intro to Computer Science I </a>
<p>This course covers object-oriented programming in Python.
    Program structure: elementary data types, statements, control flow, functions,
    classes, objects, methods, testing. Lists; searching,
</p>
<a href="{{ '/csca48w18' | relative_url }}">CSCA48 - Intro to Computer Science II </a>
<p>This course covers abstract data types and data structures for implementing them.
    Linked data structures. Object Oriented Programming. Encapsulation and information-hiding.
    Specifications. Runtime complexity. Recursion.
</p>
<a href="{{ '/cscb63w19' | relative_url }}">CSCB63 - Design and Analysis of Data Structures</a>
<p>This course covers implementation and comparison of efficient data structures for common ADTs.
    Priority queues: heaps and mergeable heaps. Dictionaries: balanced binary search trees, hashing.
    Amortization: data structures for managing dynamic tables and disjoint sets.  Graph representation and searches.
</p>
<a href="{{ '/cscc73f18' | relative_url }}">CSCC73 - Algorithm Design and Analysis</a>
<p> Standard algorithm design techniques: divide-and-conquer, greedy strategies,
    dynamic programming, linear programming, randomization, network flow, and others.
</p>

<h2>Course Notes</h2>
<p><a href="https://drive.google.com/file/d/19fkW-Xkngn8drVE5Ntz61-mWJpa8jw9u/view?usp=sharing">CSCD84 - Artificial Intelligence</a></p>
<p><a href="https://drive.google.com/file/d/1b8pidpTSHOrRptuP6oxViAHMrKv9-n7l/view?usp=sharing">CSCC73 - Algorithm Design</a></p>
</div>
