---
layout: default
---

<h1>Tutorials</h1>


<a href="{{base.url}}/csca08f17">CSCA08 - Intro to Computer Science I </a>
<p>This course covers object-oriented programming in Python. 
    Program structure: elementary data types, statements, control flow, functions, 
    classes, objects, methods, testing. Lists; searching, 
</p>
<a href="{{base.url}}/csca48w18">CSCA48 - Intro to Computer Science II </a>
<p>This course covers abstract data types and data structures for implementing them. 
    Linked data structures. Object Oriented Programming. Encapsulation and information-hiding. 
    Specifications. Runtime complexity. Recursion.
</p>
<a href="{{base.url}}/cscb63w19">CSCB63 - Design and Analysis of Data Structures</a>
<p>This course covers implementation and comparison of efficient data structures for common ADTs. 
    Priority queues: heaps and mergeable heaps. Dictionaries: balanced binary search trees, hashing. 
    Amortization: data structures for managing dynamic tables and disjoint sets.  Graph representation and searches.
</p>
<a href="{{base.url}}/cscc73f18">CSCC73 - Algorithm Design and Analysis</a>
<p> Standard algorithm design techniques: divide-and-conquer, greedy strategies, 
    dynamic programming, linear programming, randomization, network flow, and others.
</p>


<h1>Course Notes</h1>
<a href="{{base.url}}/notes/CSCD84-NOTES.pdf">CSCD84 - Artificial Intelligence</a>