---
layout: default
---
</br>
<div id="professional-experience">
    <h2>Professional Experience</h2>
    <hr size=10>
    <div id="Reddit">
        <a href="https://reddit.com" style="line-height: 25px;">Reddit</a>, <b> June 2020 -
            Present
        </b> </br>
        Software Engineer III
        </br>
        </br>
        <p><b>Tech</b>: Golang, Python, Scala, Airflow, BigQuery, GRPC, Thrift, Javascript</p>
        <div>
            <ul>
                <li> Working on Ads Targeting for 3 years!</li>
                <li> Working on Ads Privacy! </li>

            </ul>
        </div>

    </div>
    <div id="TripAdvisor">
        <a href="https://tripadvisor.com" style="line-height: 25px;">TripAdvisor</a>, <b> Oct 2020 -
            June 2022
        </b> </br>
        Software Engineer II
        </br>
        </br>
        <p><b>Tech</b>: Java, React, Typescript, GraphQL, Hive, Snowflake, Google Ad</p>
        <div>
            <ul>
                <li>Led successful features, experiments, and large code refactors for ads across the site.
                    Significantly increasing
                    ad revenue through improved impressions, viewability, and CTR</li>
                <li>Improved header bidding by cleaning up several ad targeting values and integrating a cookieless
                    approach
                    that associates users by their email addresses across different platforms.</li>
                <li>Increased reporting capability by fixing and creating new live traffic data collection pipelines for
                    analysts,
                    resulting in increased client retention through comprehensive tableau dashboards</li>
                <li>Independently planned and executed monthly roll-out of Travelers Choice campaigns. Coordinating
                    redesign
                    efforts, bug fixes, and server maintenance across our related products / microservices / databases
                </li>
            </ul>
        </div>

    </div>
    <div id="Royal Bank of Canada">
        <!--img src="/assets/rbc-logo.png" alt="" style="float: left;width:55px;height:55px;" /-->
        <a href="https://www.rbc.com/about-rbc.html" style="line-height: 25px;">Royal Bank of Canada</a>, <b>Summer
            2019</b> </br>
        Software Developer Intern, Devops department - Automation Solutions
        </br>
        </br>
        <p><b>Tech</b>: Elastic Search, Jenkins, Groovy, Docker, Python, Bash, Openshift, UrbanCodeDeploy, SSL</p>
        <div>
            <ul>
                <li> Proposed and led development of production server deployment pipeline for Beats and Logstash used
                    in monitoring
                    of jmx metrics and logs from Jira \& Jenkins, overall saving teams hours debugging failing servers
                </li>
                <li> Automated various tasks for audit requests and internal management like deletion of unused
                    permission groups
                    and unnecessary backups from Github tape storage saving the company approximately $3000 monthly
                </li>
                <li> Volunteered to maintain open source fork of <a
                        href="https://github.com/asciimoo/searx">Searx</a>and mentor participants
                    for an internal company innovation challenge. Searx was adopted by several teams to resolve search
                    problem at RBC
                    with chat bots </li>

            </ul>
        </div>
    </div>
    <hr size=10>

    <div id="Rubikloud">
        <!--img src="/assets/rubikloud-logo.jpg" alt="" style="float: left;width:55px;height:55px;" /-->
        <a href="http://rubikloud.com" style="line-height: 25px;">Rubikloud</a> (acquired by Kinaxis), <b>Summer
            2018</b> </br>
        Software Engineer Intern, Platform Engineering Team
        </br>
        </br>
        <p><b>Tech</b>: Tech: React, Redux, Jenkins, Selenium, Java, Scala, PostgreSQL, Jupyter, Spark, Docker </p>
        <div>
            <ul>
                <li> Developed critical user-facing features (tables and notifications) requiring React/Redux and
                    resolved several
                    bugs before release. Providing users decreased initial load times by 90% speed and more useful
                    feedback </li>
                <li> Wrote regression tests for ETL pipeline (data layer) using Luigi, Yarn UI, and SQL queries. Also
                    refactored integration tests
                    for application layer using Selenium+Jenkins, identifying several bugs before release </li>
            </ul>
        </div>
    </div>
    <hr size=10>
</div>
</div>

</br>


<h2>Project Experience</h2>
<hr size=10>
<div id="web-development-projects">

    <div id="PlanIt">
        <!--img src="/assets/letmeknow-logo.png" alt="" style="float: left;width:55px;height:55px;" /-->
        <a href="/assets/planit-presentation.pdf" style="line-height: 25px;">PlanIt</a>, <b>Fall 2019</b> </br>
        <b>Web Development</b>, Travel/Consumer website
        </br>
        </br>


        <p>Plan-it was initially a project pitched to us at beginning of our Intro to Software Engineering course.
            The project aimed to differentiate itself from existing platforms, by catering to planning needs of users.
            I worked in a team of 5 students to draft user stories and gather requirements, and deliver the final
            product in a 2 month time frame, while following scrum/agile and adminestering it through Jira.
            </br> </br>

            We were invited to the bridge innovation award, for being the best team to envision the product owners idea
            for the Plan-it project (award pending, post covid-19)

        <p><b>Tech</b>: Java, Spring, HTML, CSS, Thymeleaf, MySQL, MongoDB, Docker, Jira</p>
        <ul>
            <li>Implemented the user authentication, session handler, and user privledges using Java's security
                library. Passwords were hashed into a MySql database</li>
            <li>Implemented the reviews system, created the user page, and back end integration with mongodb</li>
            <li>Dockerized application so it would be consistent for our group members</li>
        </ul>
        <hr />
    </div>


    <div id="LetMeKnow">

        <img src="/assets/letmeknow-logo.png" alt="" style="float: left;width:55px;height:55px;" />
        <a href="http://letmeknow.news" style="line-height: 25px;">Let Me Know</a>, <b>2016-2017</b> </br>
        <b>Web Development</b>, News Aggregation website
        </br>
        </br>


        <p>LetMeKnow was initially a successful project a couple of colleagues and I developed over at
            <a href="https://devpost.com/software/let-me-know-vwao64">MHacks8</a> (top 10, and contenders for Microsoft
            Prize).
            Since October of 2016 myself the other team members have been making incremental changes in our spare time
            to the software.
            In November 2017 we entered LMK into the <a
                href="http://www.utsc.utoronto.ca/projects/thehub/startup-competition/">UTSC Startup Competition</a>
            and received seed funding and access to great mentors/resources.
        <p><b>Tech</b>: Python, Javascript, Django, Angular, Nginx, PostgresSQL, DigitalOcean</p>
        <ul>
            <li>Implemented multiprocessing across web queries fetching relevant articles from Reddit API, tweets
                from
                Twitter’s API, and images from Bing’s API reducing load time from 20 seconds per user query to 3
                seconds</li>
            <li>Developed core news search utilities using Django for RESTful API management and PostgreSQL for
                database
                queries. Managed hosting for website with load balancing through Nginx on a AWS VPS</li>
        </ul>
        <hr />
    </div>
</div>


<div id="open-source-projects">
    <div id="quadbot">
        <img src="/assets/tesseract.ico" alt="" style="float: left;width:55px;height:55px;" />
        <a href="https://wgma.ca/quadbot" style="line-height: 25px;">Quadbot</a>, <b>2016</b> </br>
        <b>Open Source Development</b>, Multiplatform chat bot
        </br>
        </br>

        <p> Quadbot is a FOSS chat bot available for multiple platforms, like: discord, and pokemonshowdown.com.
            It was initially created due to a lack of LaTeX support on these platforms. </p>
        <p><b>Tech</b>: Python, Asyncio, Image Hosting, Linux CLI, DigitalOcean</p>

        <ul>
            <li>Setup Travis CI for unit/integreation tests written with pytest, and deployed inside a docker container
            </li>
            <li>Created and maintained several commands to entertain users</li>
            <ul>
                <li><b>Calc:</b> Integreated calculator functionality with the <a href="#">GNOMECalc</a> software</li>
                <li><b>Dilbert:</b>returns url to today's dilbert comic</li>
                <li><b>Latex:</b> Designed system for users to compile LaTeX commands and receive a url with the result
                </li>
                <li><b>Markov:</b> Generates a sentence based on room chat data using a Markov Chain model</li>
                <li><b>Periodic Parser:</b> Generates a word that can be spelled with the symbols for periodic table
                    elements.</li>
                <li><b>Party Parrot</b>: Generates a random <a href="cultofthepartyparrot.com">party parrot</a></li>
                <li><b>Putnam</b>: Generates a random <a href="#">Putnam</a> problem</li>
                <li><b>Xkcd:</b> returns url to a randomly generated or specified xkcd comic</li>
            </ul>
        </ul>
    </div>
</div>
<hr />

<div id="personal-projects">
    <div id="android-projects">
        <div id="mobile-waste-wizard">
            <img src="/assets/waste-wizard-logo.png" alt="" style="float: left;width:55px;height:55px;" />
            <a href="https://github.com/wlgranados/mobile-waste-wizard" style="line-height: 25px;">Mobile Waste
                Wizard</a>, <b>2015</b> </br>
            <b>Mobile Development</b>, Waste Categorization App Demo for City of Toronto
            </br>
            </br>

            <p>The Mobile Waste Wizard is a mobile Android application that is based off of the City of Toronto's waste
                wizard website.
                This application is cable of correctly categorizing objects according to the standard set out by the
                City of Toronto's waste management team.
                It is also capable of voice recognition for those in a rush! Published article: <a
                    href="http://bit.ly/2DVSx1P">here</a>.</p>

            <p><b>Tech</b>: Android, Python, Java, XML, Google Material Design</p>
            <div>
                <ul>
                    <li>Parsed publicly available data, and incorporated it into search functions</li>
                    <li>Redesigned the UI by following Google Material Design pattern</li>
                    <li>Added linters, and some test automation.</li>
                </ul>
            </div>

            <center>
                <a href="assets/MobileWasteWizard-Search.png" target="_blank">
                    <img class="inline-img" src="assets/MobileWasteWizard-Search.png">
                </a>

            </center>
        </div>
        <hr />
    </div>

    <div id="contact-info">
        <div id="resume-section">
            <center>
                <p>You can find a copy of my resume <a href="{{ site.url }}/resume.pdf">here</a>.
                    If my experience interests you feel free to contact <a href="mailto:me@wgma.ca">me</a>.
            </center>
        </div>
    </div>
</div>
